style.css

img {
    width: 500px;
    border-radius: 400px;
    margin-right: 10px;
}

.header {
    background-image: url(images/anfield.jpg) center;
    background-size: cover;
}

.playerpic {
    max-width: 300px;
    border-radius:300px;
}

.special-image {
    max-width: 300px;
    border: solid
    border-color: white;
    border-radius: inherit;
}

p.playername {
    font-weight: bolder;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p.teamname {
    font-weight: lighter;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
    float: left;
    background-color: white
}

a {
    display: block;
    padding: 8px;
    background-color: #333
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
}

.headshot {
    max-height: 50px;
    max-width: 50px;

}

.salibaheadshot {
    max-height: 40x;
    max-width: 35px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 174, 133);
    border-style: double;
    border-width: 5px;
}

h1 {
    text-align: center;
    font-size: 72px;
    color: purple;
    background-color: aqua;
    background-size: cover;
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: Georgia;
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
    color: black;
}

h3 {
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

h5 {
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}


.caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
    opacity: 0.75;
}

.balon table,
.balon tr,
.balon td,
.balon th {
    background-color: chocolate;
    color: white;
    border: 2px solid;
    border-color: white;
    border-style: groove font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    width: 50%;
}

.balon td {
    border: 2px solid;
    border-color: white;
    border-style: groove;
    width: 10px;
}

.balon th {
    font-size: 24px;
    padding-top: 0%;
}

form {
    display: block;
    border: 2px black;
    font-family: Georgia;
    font-size: 18px;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 16px 32px;
    font-family: Georgia;
    font-size: 14px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

label {
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
}

<!-- Tables Section-->

.liverpool table,
.liverpool td,
.liverpool th {
    border: 4px, solid #00B2A9;
    border-collapse: collapse;
    font-size: 24px;
    text-align: center;
    background-color: #c8102E;
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.liverpool th,
.liverpool td {
    background-color: #c8102E;
    border-radius: 10px;
    padding: 10px;
}

.liverpool thead {
    font-size: 72px;
    background-color: #c8102E;
}

.liverpool img {
    max-width: 24px;
    max-height: 30px;
}

.arsenal table,
.arsenal td,
.arsenal th {
    border: 4px, solid #063672;
    border-collapse: collapse;
    font-size: 24px;
    text-align: center;
    background-color: #EF0107;
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.arsenal th,
.arsenal td {
    background-color: #EF0107;
    border-radius: 10px;
    padding: 10px;
}

.arsenal thead {
    font-size: 72px;
    background-color: #EF0107;
}

.arsenal img {
    max-width: 50px;
    max-height: 33px;
}

.mancity table,
.mancity td,
.mancity th {
    border: 4px, solid #1C2C5B;
    border-collapse: collapse;
    font-size: 24px;
    text-align: center;
    background-color: #6CABDD;
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.mancity th,
.mancity td {
    background-color: #6CABDD;
    border-radius: 10px;
    padding: 10px;
}

.mancity thead {
    font-size: 72px;
    background-color: #6CABDD;
}

.mancity img {
    max-width: 30px;
    max-height: 30px;
}

.pllogo {
    align-content: center;
}
.bangers-regular {
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: normal;
  }
  